.notFound{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.line{
    height: 2px;
    width: 300px;
    background-color: white;
    margin: 20px 0;
}

.errText{
    font-size: 20px;
}

.notFound > h3{
    font-weight: 800;
}